*{text-align: center;}

*{background-color: white;}

.cmp{background-color: #f0f3e9}

.nav{background-color: #003745;
  height: 30px;
  padding: 50px;}

.nbtn{
  max-width: 320px;
  padding: 3px 24px;
  margin-left: 35;
  margin-right: 35;
  background: var(--color-buttons-primary-color, #f0f3e9) !important;
  font-size: 15px;
  font-size: .9375rem;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: auto;
  border-radius: 25px;
  border: none;
  box-sizing: border-box;
}
.test{color:white;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
